<div class="body-container__card-begin">
  <div class="body-div__loginformat">
    <div  class="loginformat__box">
        <div class="box__medium">
            <h1  class="medium__title">Seja Bem-vindo ao <img class="medium__img-logo" src="../../../../assets/logo-complete.svg"></h1>
            <div width="200%" class="medium__div-btns">
              <button routerLink="login" _ngcontent-rky-c284="" mat-flat-button="" class="medium__button--secondary medium__button mat-focus-indicator mat-flat-button mat-button-base"><span class="mat-button-wrapper">Login</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>

              <button  routerLink="cadastro" style="margin-top: 20px;" _ngcontent-sel-c161="" mat-raised-button="" color="primary" class="medium__button  mat-focus-indicator mat-raised-button mat-button-base mat-primary btn-primary"><span class="mat-button-wrapper" >Cadastre-se</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>
            </div>
        </div>
    </div>
    </div>
</div>





