<div style="height:6rem"></div>
<header>
  <img routerLink="/home" height="60rem" src="../../../assets/logo-complete.svg">
  <nav>
      <ul>
          <li routerLink="/home/" class="link-hotBar">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
              Home
          </li>
          <li routerLink="/home/favoritos" class="link-hotBar">
              <mat-icon aria-hidden="false" aria-label="Example home icon" >favorite</mat-icon>
              Favoritos
          </li>
      </ul>
  </nav>
</header>
